@import "variables";

body {
  font-family: sans-serif;
  color: $primary-color;
}

header {
  background-color: $header-bg-color;
  padding: 10px;
}

footer {
  background-color: $footer-bg-color;
  padding: 10px;
  text-align: center;
}